.header{
    height: 7vw;
    background-color: #550065;
    text-align: center;
    font-size: 40px;
    color: lightslategray;
    font-style: italic;
    margin: auto;
    line-height: 7vw;
}

#front_page_box{
    margin: 40px;
    border: solid dimgray 2px;
    background-color: white;
    height: 70VH;
}
#sjukanmaelan{
    margin: 40px;
    border: solid dimgray 2px;
    background-color: white;
    height: 70VH;
}

#personal_box{
    margin: 40px;
    border: solid dimgray 2px;
    background-color: white;
    height: 70VH;
    overflow: scroll;
}

#om_oss_link{
    border: solid dimgray 2px;
    position: absolute;
    top: calc(10vw + 40px);
    left: 15%;
    width: 30%;
    height: 80px;
    line-height: 80px;
    font-style: italic;
    font-size: 25px;
}
#personal_link{
    border: solid dimgray 2px;
    position: absolute;
    top: calc(10vw + 40px);
    right: 15%;
    width: 30%;
    height: 80px;
    line-height: 80px;
    font-style: italic;
    font-size: 25px;
}
#schema_link{
    border: solid dimgray 2px;
    position: absolute;
    margin-top: 30vh;
    left: 15%;
    width: 30%;
    height: 80px;
    line-height: 80px;
    font-style: italic;
    font-size: 25px;

}
#sjukanmaelning_link{
    border: solid dimgray 2px;
    position: absolute;
    margin-top: 30vh;
    right: 15%;
    width: 30%;
    height: 80px;
    line-height: 80px;
    font-style: italic;
    font-size: 25px;
}

#inner_box{
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

#inner_box a{
    background-color: lightgray;
    text-decoration: none;
}
#inner_box a:link{
    color: white;
}
#inner_box a:visited{
    color: purple;
}

#inner_box a:hover{
    background-color: #e3e3e3 ;
    color: #a500a5;
}


.om_oss{
    width: 70%;
    background-color: white;
    border: solid dimgray 2px;
    margin: 30px 10% 40px calc(130px + 5vw);
}

#side_buttons{
    position: absolute;
    left: 0;
    margin-top: 30px;
}

.side_buttons{
    height: 50px;
    width: 110px;
    background-color: darkgray;
    border: solid black 2px;
    line-height: 50px;
    border-left: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: purple;
}
#aktuelt_knapp{
    background-color: #dfdfdf;
    width: 130px;
    color: darkmagenta;
}


.person{
    border: solid black 2px;
    height: 200px;
    width: 150px;
    float: left;
    margin: 30px;

}

.person p{
    margin: 2px;
}

.bild_div{
    width: 98px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.person_info{
    text-align: center;
}


body{
    margin: 0;
    background-color: lightgray;
}